@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
 
}

/* ----------- HeroSection ---------- */

#heroSection {
  background: url("/images/mainImage.png");
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 100vh;
}

/* ---------------Gradient for location area------------------ */


.gradien {
  background: linear-gradient(
    180deg,
    rgba(255, 255, 255, 0),
    rgba(255, 255, 255, 0),
    rgba(255, 255, 255, 0),
    rgba(0, 0, 0, 1)
  );
  width: 100%;
  height: 100%;
  position: absolute;
  bottom: 0px;
  left: 0;
}
.locationCard {
  width: 100%;
  height: 100%;
  object-fit: cover; /* Ensure the image covers the container */
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: flex-end; /* Align the text at the bottom */
  justify-content: flex-start; /* Align the text to the left */
  background: linear-gradient(
    180deg,
    rgba(255, 255, 255, 0),
    rgba(255, 255, 255, 0),
    rgba(255, 255, 255, 0),
    rgba(0, 0, 0, 1)
  );
  padding: 16px; /* Adjust the padding as needed */
}

.overlay p {
  margin: 0; /* Remove any default margin from the paragraph */
}

/* ================================Testimonials React Slick================================ */

.mainTestimonialsSliderWrapper::-webkit-scrollbar {
  width: 0;
}

/* Optionally, you can add styles to the track if needed */
.mainTestimonialsSliderWrapper::-webkit-scrollbar-track {
  background: transparent;
}

.blackToWhite {
  filter: invert(95%);
}

.slick-slide > div {
  margin: 15px;
  /* width: 400px; */
}

.slick-slider {
  /* border: 2px solid pink; */
  left: 72px;
  width: 80vw;
}
@media (max-width: 768px) {
  .slick-slider {
    left: 34px;
    width: 320px;
  }
}
@media (max-width: 360px) {
  .slick-slider {
    left: 24px;
    width: 280px;
  }
}


/* ===================gridingSystem Featured Location================== */

.gridSystemOuter{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  width: 100vw;
  outline : 2px solid red;
  padding : 0 56px;
}
.gridingSystemInner{
  display: grid;
  grid-template-rows: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  place-items: center;
  width: 610px;
}

/* --------------------------- */

.locationCard {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: transform 0.3s ease-in-out;
}

.locationCard:hover {
  transform: scale(1.1); /* Increase this value to enlarge the image more */
}


/* ------------nav slider for header - animation --------------- */

.navSlider {
  position: fixed;
  top: 0;
  right: -80%;
  width: 80%;
  height: 100vh;
  background-color: white;
  border-left: 2px solid lightgrey;
  transition: transform 0.3s ease-in-out;
}

.navSlider.open {
  transform: translateX(-100%);
}

/* -------------aspect ratio------------- */

